.logo
{
    width: 70px;
    border-radius: 20px;
    position: absolute;
    left: 7%;
    top: 5%;
    z-index: 10;
}.politeia
{
    background-color: #10B9B9;
}
.caixanav
{
    position: absolute;
    width: 1418px;
    height: 90px;
    left: 5.5rem;
    top: 27px;
    background: #082B79;
    border-radius: 25px;
}
.pesquisa
{
    position: absolute;
    width: 142px;
    height: 35px;
    left: 81rem;
    top: 54px;

    border-radius: 10px;
    text-align: center;
    line-height: 35px;
    font-family: 'Inter', sans-serif ;
    font-weight: bold;
    color: #103A95;
    z-index: 10;
}
.inicio
{
    position: absolute;
    width: 142px;
    height: 35px;
    left: 1120px;
    top: 54px;
    z-index: 11;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    font-family: 'Inter', sans-serif ;
    font-weight: bold;
    
}
.areaprincipal
{
    position: absolute;
    width: 1418px;
    height: 866px;
    left: 5.5rem;
    top: 139px;
    background: #D7E0F2;
    border-radius: 28px;
}
.pagaluno
{
    position: absolute;
    width: 512px;
    height: 47px;
    left: 660px;
    top: 200px;

    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 47px;
    color: #080808;
    text-shadow: 0px 4px 4px #082B79;
}
.opcoes
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
    left: 5rem;
    top: 5px;
}
.opcoes:after
{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background-color:#0CF;
    opacity:0;
    border-radius:5px;
    box-shadow:0 5px 15px 0 rgba(0,0,0,0.3);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;
}
.opcoes :hover
{
    transform:scale(1.25,1.25);
}
.opcoes:hover::after
{
    opacity:1;
}
.conteudos1
{
    box-sizing: border-box;

    position: absolute;
    width: 242px;
    height: 135px;
    left: 204px;
    top: 363px;
    display: flex;
    background: #D7E0F2;
    border: 1px solid #103A95;
    box-shadow: 4px 4px 4px #103A95;
    border-radius: 17px;
    justify-content: center;
    align-items: center;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.jogo
{
    box-sizing: border-box;

    position: absolute;
    width: 242px;
    height: 135px;
    left: 599px;
    top: 363px;
    display: flex;
    background: #D7E0F2;
    border: 1px solid #103A95;
    box-shadow: 4px 4px 4px #103A95;
    border-radius: 17px;
    justify-content: center;
    align-items: center
}
.minhaconta
{
    box-sizing: border-box;

    position: absolute;
    width: 242px;
    height: 135px;
    left: 993px;
    top: 363px;
    display: flex;
    background: #D7E0F2;
    border: 1px solid #103A95;
    box-shadow: 4px 4px 4px #103A95;
    border-radius: 17px;
    justify-content: center;
    align-items: center
}
.opcoes2
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
    left: 5rem;
    top: 300px;
}
.opcoes2:after
{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background-color:#0CF;
    opacity:0;
    border-radius:5px;
    box-shadow:0 5px 15px 0 rgba(0,0,0,0.3);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;
}
.opcoes2 :hover
{
    transform:scale(1.25,1.25);
}
.opcoes2:hover::after
{
    opacity:1;
}
.legenda
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif ;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #082B79;
    position: absolute;
    width: 74%;
    height: 135px;
    left: 14rem;
    top: 480px;
}
.legenda2
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif ;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color: #082B79;
    position: absolute;
    width: 73.5%;
    height: 135px;
    left: 12rem;
    top: 780px;
}

